<!doctype html>
<html lang="en" class="h-100">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    {% block content %}{% endblock %}
    <div id="attic"></div>
    <a href="{% url 'orders_search_url' %}"><img src="http://localhost:9000/static/img/search.png" id="img_search"></a>
    <input type="text" id="search" value="ПОИСК">
    <li style="list-style-type: none;"><a href="{% url 'orders_url' %}">
        <div id="attic-main"> ЧИСЛЕННОСТЬ </div>
        <div id="attic-dot"> .РФ </div>
        <div id="attic-dop"> главный вычислительный портал страны </div>
    </a> </li>
</body>
</html>