@font-face {
    font-family: 'SourceSerifPro';
    src('../../fonts/SourceSerifPro-Black.ttf');
}

@font-face {
    font-family: 'RobotoFlex';
    src('fonts/RobotoFlex.ttf');
}

@font-face {
    font-family: 'NotoEmoji';
    src('fonts/NotoColorEmoji-Regular.ttf');
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


.order-text {
    font-size: 40px;
    color: red;
}

#search{
    border-style: none;
    position: fixed;
    font-family: 'NotoColorEmoji-Regular', NotoEmoji, monospace;
    font-weight: bold;
    font-size: 32px;
    color: rgb(251, 251, 251);
    width: 135px;
    height: 45px;
    background-color: rgb(31, 31, 31);
    left: 1570px;
    top: 30px;
}

#img_search{
    position: fixed;
    left: 1509px;
    top: 26px;
    width: 50px;
}

#attic{
    position: fixed;
    background-color: rgb(31, 31, 31);
    height: 100px;
    width: 1920px;
    top: 0px;
}

#attic-main{
    position: fixed;
    left: 85px;
    top: 10px;
    position: fixed;
    color: rgb(251, 251, 251);
    font-family: "SourceSerifPro-SemiBold", sans-serif;
    font-size: 48px;
    font-weight: bold;
}
#attic-dot{
    position: fixed;
    color: rgb(187, 65, 15);
    font-family: "SourceSerifPro-SemiBold", sans-serif;
    font-size: 48px;
    font-weight: bold;
    left:455px;
    top: 11px;
}
#attic-dop{
    position: fixed;
    color: rgb(251, 251, 251);
    font-family: "SourceSerifPro-SemiBold", sans-serif;
    font-size: 23px;
    left: 93px;
    top: 60px;
}
#menu{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 140px;
    left: 40px;
    width: 350px;
    height: 750px;
    color: red;
    background-color: rgba(190, 190, 190, 0.1);
    border-radius: 20px;
    stroke-width: 10px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-color: rgba(190, 190, 190, 0.1);
}
#ser{
    color: #6e6e6e;
    font-family: 'Roboto', sans-serif;
    position:fixed;
    top: 181px;
    left: 166px;
    font-size: 40px;
    user-select: none;
}

#ser:hover{
    transform: scale(1.1);
}

#app{
    color: #6e6e6e;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    position:fixed;
    top: 267px;
    left: 166px;
    font-size: 40px;
    user-select: none;
    list-style-type: none;
}

#app:hover{
    opacity: 0.8;
}

#grey-block{
    position: fixed;
    background-color: #D9D9D9;
    border-radius: 20px;
    left: 65px;
    top: 160px;
    width: 280px;
    height: 90px;
}
#grey-block-2{
    position: fixed;
    background-color: #D9D9D9;
    border-radius: 20px;
    left: 65px;
    top: 246px;
    width: 280px;
    height: 90px;
}

#li{
    position: fixed;
    top: 200px;
    left: 455px;
    margin-left: 40px;
    list-style-type: none;

}
#lii{
    position: fixed;
    top: 200px;
    left: 1095px;
    margin-left: 40px;
}

.cards{
    position: relative;
    top: 100px;
    left: 455px;
    display: grid;
    grid-template-columns: repeat(2, 620px);
}

#card{
    width: 600px;
    height: 340px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#card_img{
    position: absolute;
    width: 600px;
    height: 340px;
    border-radius: 20px;
    transition: 0.3s ease;
    #object-fit: cover;
}

#card_img:hover{
    transform: scale(1.01);
}

#card_img_app{
    position: absolute;
    width: 838px;
    height: 498px;
    border-radius: 48px;
}

#orders_img{
    position: fixed;
    width: 60px;
    top: 173px;
    left: 80px;
}

#application_img{
    position: fixed;
    width: 60px;
    top: 261px;
    left: 80px;
}

#flag{
    position: relative;
    top: 25px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(187, 65, 15);
    color: rgb(251, 251, 251);
    font-family: 'NotoColorEmoji-Regular', NotoEmoji, monospace;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 3px;
    font-weight: bold;
    width: 100px;
    height: 35px;
}

#add_to_application{
    position: relative;
    width: 220px;
    height: 50px;
    font-family: 'NotoColorEmoji-Regular', NotoEmoji, monospace;
    font-weight: bold;
    color: rgb(251, 251, 251);
    font-size: 20px;
    background-color: rgb(187, 65, 15);
    border-style: none;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    left: 360px;
    top: -140px;
}
#add_to_application:hover{
    background-color: rgb(147, 65, 15);
}

#delete_application{
    position: relative;
    width: 220px;
    height: 50px;
    font-family: 'NotoColorEmoji-Regular', NotoEmoji, monospace;
    font-weight: bold;
    color: rgb(251, 251, 251);
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    border-style: none;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
    left: 455px;
    top: 20px;
}
#delete_application:hover{
    background-color: rgb(181, 0, 0);
}

#rect{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    left: 27px;
    top: 230px;
    background-color: rgb(187, 65, 15);
}

.main_title{
    font-family: 'Roboto-regular', Roboto, sans-serif;
    font-size: 90px;
    position: relative;
    left: 455px;
    top: 100px;
    color: rgb(38, 38, 38);
}

#white_rect{
    background-color: white;
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

#card_title{
    position: relative;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    color: rgb(251, 251, 251);
    font-size: 48px;
    left: 27px;
    top: 137px;
}
#card_title_inf{
    position: relative;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    color: black;
    font-size: 70px;
    left: 895px;
    top: 18px;
}

.card_information_inf{
    white-space: pre-wrap;
    position: relative;
    color: black;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    font-size: 36px;
    width: 712px;
    height: 212px;
}

#card_main_information{
    color: rgb(251, 251, 251);
    font-size: 36px;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    position: relative;
    top: 137px;
    left: 70px;
}

#information_card{
    position: relative;
    width: 1677px;
    height: 504px;
    background-color: rgba(201, 201, 201, 0.1);
    border-color: rgba(190, 190, 190, 0.3);
    border-style: solid;
    left: 81px;
    top: 224px;
    border-radius: 50px;
}

#mini_title_app{
    white-space: pre-wrap;
    position: relative;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    font-size: 40px;
    color: rgb(38, 38, 38);
    left: 456px;
    top: 134px;
}

#rect_input{
    width: 140px;
    height: 70px;
    background-color: rgb(217, 217, 217);
    position: relative;
    border-radius: 50px;
    border: rgba(0, 0, 0, 0.1);
    font-family: 'Roboto-regular', Roboto, sans-serif;
    font-size: 40px;
    left: 1047px;
    top: 80px;
}

#btn_enter{
    width: 281px;
    height: 70px;
    position: relative;
    /*border-style: groove;
    border-width: 1px;
    /*border-color: rgb(287, 65, 15);*/
    background-color: white;
    border-radius: 50px;
    /*color: rgb(287, 65, 15);*/
    color: white;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    text-align: center;
    user-select: none;
    padding-top: 10px;
    font-size: 40px;
    left: 1354px;
    top: 10px;
}

#app_cont{
    position: relative;
    width: 1400px;
    top: 5px;
    left: 455px;
    display: grid;
    grid-template-columns: repeat(3, 465px);
}

#application_card{
    margin-top: 44px;
    position: relative;
    border-style: solid;
    width: 450px;
    height: 538px;
    background-color: rgba(201, 201, 201, 0.1);
    border-color: rgba(190, 190, 190, 0.3);
    border-radius: 20px;
}

#card_img_app_2{
    position: absolute;
    left: 13px;
    top: 13px;
    width: 420px;
    height: 270px;
    border-radius: 20px;
}

#title_app_card{
    position: relative;
    font-size: 55px;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    color: rgb(251, 251, 251);
    left: 25px;
    top: 160px;
}

#inf_app_card{
    position: relative;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    color: rgb(251, 251, 251);
    font-size: 33px;
    left: 60px;
    top: 164px;
}

#app_input{
    position: relative;
    width: 420px;
    height: 60px;
    font-family: 'Roboto-regular', Roboto, sans-serif;
    font-size: 30px;
    background-color: rgba(190, 190, 190, 0.8);
    border-radius: 20px;
    border-style: solid;
    border-color: rgba(190, 190, 190, 0.3);
    padding-left: 15px;
    left: 13px;
    top: 190px;
}

#app_rect{
    position: relative;
    width: 420px;
    height: 90px;
    color: rgb(251, 251, 251);
    font-family: 'Roboto-regular', Roboto, sans-serif;
    font-size: 30px;
    background-color: rgb(187, 65, 15);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 15px;
    left: 13px;
    top: 215px;
}