{% extends 'base.html' %}
{% block title %}Список заказов{% endblock %}

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta charset="utf-8">
    <title></title>
</head>

{% block content %}
    <div id="menu"></div>
    <div id="grey-block"></div>
    <div id="ser">Услуги</div>
    <img id="orders_img" src="http://localhost:9000/static/img/orders.png">
    <img id="application_img" src="http://localhost:9000/static/img/application.png">
    <p class="main_title" style="top: 100px; left:455px">Этнографические данные</p>
    <div id="white_rect"></div>

    <li><a href="{% url 'application_url' data.application_id %}"><div id="app">Заявки</div></a> </li>
    <div class="cards">
    {% for order in data.orders %}
        <div id="card"><a href="{% url 'order_url' order.id %}" style="text-decoration: none">
            <img id="card_img" src={{ order.image }}>
            <div id="flag">услуга</div>
            <div id="rect"></div>
            <div id="card_title">{{ order.title }}</div>
            <div id="card_main_information">{{ order.main_information }}</div>
            <a href="{% url 'add_to_application_url' order.id %}"><button id="add_to_application">Добавить в заявку</button> </a>
        </a>
        </div>
    {% endfor %}
    </div>
{% endblock %}